h1 {
    font-family: Verdana;
    color: #000000;
    text-align: center;
}
a.prob-button{
	background-color: #028A0F;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:52px;
    border-radius: 20px;
	margin: 30px auto 0px auto;
	cursor:pointer;
	display:grid;
}

form.form_new_pb{    /*copie de ci dessus mais avec cases plus larges*/
	background-color: #7A523C;
	width:600px;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:52px;
    border-radius: 20px;
	margin: 30px auto 0px auto;
	cursor:pointer;
	display:grid;
}

.tronc{    /*MARRON*/
	background-color: #7A523C;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:52px;
    border-radius: 20px;
	margin: 30px auto 0px auto;
	cursor:pointer;
	display:grid;
}

.tooltip{
	position:relative;
	display:inline-block;
}

  .tooltiptext {
	visibility: hidden;
	left: 50%;
	top:100%;
	width: max-content;
	max-width: 400px;
	transform: translate(-50%, 0);
	overflow-wrap: break-word;	
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	opacity: 0.92;
	font-size: 17px;
	/* Position the tooltip text*/
	position:absolute;
	padding: 5px 10px 5px 10px;
	z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }
  	
  .tooltip .tooltiptext::after { /*for the arrow */
	content: " ";
	position: absolute;
	top: -10px; /* At the bottom of the tooltip */
	transform: rotate(180deg);
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
  }