h1 {
    font-family: Verdana;
    color: #000000;
    text-align: center;
	font-size:60px;
}

h2{
    font-family: Verdana;
    color: #000000;
    text-align: center;
	font-size:16px;
	margin-top: 20px;
}

div.tablo-question-solution{
	display: grid;
    grid-template-columns: auto auto;
	margin: 30px 0px 0px auto;
}

button.question-button{
	background-color: #028A0F;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:40px;
    border-radius: 20px 0px 0px 20px;
	margin: 0px 0px 0px auto;
	cursor:pointer;
}

button.solution-button{
	background-color: #4169E1;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:40px;
    border-radius: 0px 20px 20px 0px;
	margin: 0px auto 0px 0px;
	cursor:pointer;
}

button.question-button-only{
	background-color: #028A0F;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:40px;
    border-radius: 20px;
	margin: 0px 0px 0px auto;
	cursor:pointer;
}

div.tablo-choix{
	display: grid;
    grid-template-columns: auto auto auto auto;
	margin: 30px;
}

div.tablo-gagnants-perdants{
	display: none;
    grid-template-columns: auto auto auto auto;
	margin: 30px 0px 0px 0px;
}

.choix{
	background-color: #FFD300;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:30px;
    border-radius: 15px;
	margin:20px auto 0px auto;
	cursor:pointer;
}

.choisi{
	background-color: #7A523C;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:30px;
    border-radius: 15px;
	margin:20px auto 0px auto;
	cursor:pointer;
}

.choix-gagnant{
	background-color: #74B72E;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:30px;
    border-radius: 15px;
	margin:20px auto 0px auto;
	cursor:pointer;
}
.choix-perdant{
	background-color: #A91B0D;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:30px;
    border-radius: 15px;
	margin:20px auto 0px auto;
	cursor:pointer;
}

.tooltip{
	position:relative;
	display:inline-block;
}

.tooltiptext {
	visibility: hidden;
	left: 50%;
	top:100%;
	width: max-content;
	overflow-wrap: break-word;
	max-width: 400px;
	transform: translate(-50%, 0);
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	opacity: 0.92;
	font-size: 17px;
	/* Position the tooltip text*/
	position:absolute;
	padding: 5px 10px 5px 10px;
	z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

  .tooltip .tooltiptext::after { /* arrow display */
	content: " ";
	position: absolute;
	top: -10px; /* At the bottom of the tooltip */
	transform: rotate(180deg);
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
  }


.form_new_msg{
	display: grid;
    grid-template-columns: auto auto;
	margin: 90px 0px 0px 0px;
}

.message{
	background-color: #AAAAAA;
	width:max-content;
	border:none;
    padding: 10px 20px;
	text-align: center;
	font-size:20px;
    border-radius: 20px;
	margin: 0px 0px 0px auto;
	cursor:text;
}

.submit{
	background-color: #AAAAAA;
	width:max-content;
	border:none;
    padding: 10px 20px;
	text-align: center;
	font-size:20px;
    border-radius: 20px;
	margin: 0px auto 0px 5px;
	cursor:pointer;
}

.chatbox{
	width: max-width; 
	height: 500px; 
	line-height: 3em; 
	overflow:scroll; 
	border: thin #000 solid; 
	padding: 5px;
	margin: 20px 20px 0px 20px;
}

.chat{
	background-color: #DDDDDD;
	width:max-content;
	border:none;
    padding: 10px 20px;
	text-align: start;
	font-size:20px;
    border-radius: 10px;
	margin:10px;
}

.mail{
	color:blue;
}

.date{
	color:#3e474c;
	font-size:16px;
}

form.form_new_pb{
	background-color: #7A523C;
	width:600px;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:52px;
    border-radius: 20px;
	margin: 30px auto 0px auto;
	cursor:pointer;
	display:grid;
}