h1 {
    font-family: Verdana;
    color: #000000;
    text-align: center;
}

div.tablo-question-solution{
	display: grid;
    grid-template-columns: auto auto;
	margin: 30px auto 0px auto;
}

a.question-button{
	background-color: #1ab26b;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:64px;
    border-radius: 20px 0px 0px 20px;
	margin: 0px 0px 0px auto;
	cursor:pointer;
}

a.solution-button{
	background-color: #4169E1;
	width:max-content;
	border:none;
	color:white;
    padding: 10px 20px;
	text-align: center;
	font-size:64px;
    border-radius: 0px 20px 20px 0px;
	margin: 0px auto 0px 0px;
	cursor:pointer;
}