<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="C:\Users\victo\Desktop\Drevocratia.css">
<title>Drevocratia</title>
</head>
<body>
<header>
    <div class="inner">
        <nav>
            <li><span><a href="">Accueil</a></span></li>
            <li><span><a href="">Problèmatiques</a></span></li>
            <li><span><a href="">Aide</a></span></li>
            <li><span><a href="" class="loginbutton">Login</a></span></li>
        </nav>
    </div>
</header>
</body>
</html>