<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../static/header_layout.css">
{%block css%}

{%endblock%}
<title>Drevocratia</title>
</head>
<body>
<header>
    <nav class="inheader">
        <li><a href="/">Accueil</a></li>
        <li><a href="/problematiques">Problématiques</a></li>
        <li><a href="/help">Aide</a></li>
        {%if not session.mail%}
        <li><a href="/login" class="logbutton">Login</a></li>
            {% else %}
        <li><a href="/logout" class="logbutton">Logout of {{session.fname}}</a></li>
        {% endif %}
    </nav>
</header>
<main>
{%block header%} 
{% endblock %}
</main>
<footer class="bottom">
	<p>Drevocratia &nbsp;&nbsp; Victor Voisin&nbsp;Chanel Valentin&nbsp;Pallet Thomas&nbsp;Elaziz Elyas</p>
	<img src="../static/leaf.png" width="50" height="50">
</footer>

</body>

</html>