<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../static/header_layout.css">
{%block css%}{%endblock%}
<title>Drevocratia</title>
</head>
<body>
<header>
    <nav class="inheader">
        <li><a href="/">Accueil</a></li>
        <li><a href="/problematiques">Problématiques</a></li>
        <li><a href="/help">Aide</a></li>
        {%if not session.name%}
        <li><a href="/login" class="logbutton">Login</a></li>
            {% else %}
        <li><a href="/logout" class="logbutton">Logout of {{session.name}}</a></li>
        {% endif %}
    </nav>
</header>
</body>
{%block header%} {% endblock %}
</html>