{% extends 'header_layout.html' %}

{% block header %}
    <p id = 'Help'>
        <p>Bienvenue sur la page d'aide de Drevocracia !</p>
        <br>
        <p>Comme vous l'avez peut être vu, l'application se base sur des "problématiques". Un citoyen peut en créer une nouvelle quand il rencontre des difficulté, elle a un thème qui lui est propre tel que le manque de transport en commun, la mauvaise gestion des déchets d'un quartier etc ...</p>
        <br>
        <p>Pour en initialiser une, il faut simplement inscrire le thème du problème avec une petite description ainsi que la première question qui va être poser.</p>
        <br>

        <p>Les différentes phases de résolution : </p>
        <ul>
            <li> - la phase de choix de solution : chacun peut proposer une solution ou voter pour celle qu'il préfère. </li>
            <li> - le choix de la prochaine question : une fois qu'une solution est trouvé, on ne s'arrête pas là ! Les citoyens choisissent la prochaine question.</li>
            <li> - le retour en arrière : vous n'aimez pas la direction que ce débat prend ? Vous avez reconsidérez un choix fait avant ? Pas de problème, le backtracking est là pour vous aider. Si une majorité de personne vote pour un retour en arrière, un nouveau choix est proposer : jusqu'à qu'elle choix revenir et vous pouvez repartir de ce point là</li>
        </ul>	
        <br>
        <p>Pour accéder à la description d'une proposition, il suffit de la survoler avec la souris.</p>
        <br>
        <p>Pour qu'il soit facile de communiquer, un système de chat est disponible en bas de la page.</p>
        <br>
        <p>Pour discutter, voter ou proposer des solutions il faut être connecté : un boutton est disponible en haut à droite.</p>
        <br>
        <p>Si vous n'êtes pas encore inscrit, il est possible de créer un compte avec une adresse mail ( sous réserve qu'aucun compte n'est la même et qu'elle finisse en .eu .net .fr ou .com ).</p>
        <br>
        <p>On peux également consuler les choix rejetés et leurs score en cliquant sur les questions et les réponses choisis.</p>
    
    </p>

{% endblock %}