{% extends 'header_layout.html' %}

{% block header %}
<p>
    <a>Si vous avez déjà un compte, connectez vous</a>
    <form action="/login" method ="POST">
        <input autocomplete="off" autofocus name="mail" placeholder="email" type="text">
        <input autocomplete="off" autofocus name="password" placeholder="password" type="text">
        <input type="submit" value="Login">
    </form>
</p>
<p>
    <a>Sinon inscrivez vous !</a>
    <form action="/inscription" method="POST">
        <input autocomplete="off" autofocus name="mail" placeholder="email" type="text">
        <input autocomplete="off" autofocus name="name" placeholder="Nom" type="text">
        <input autocomplete="off" autofocus name="fname" placeholder="Prenom" type="text">
        <input autocomplete="off" autofocus name="password" placeholder="password" type="text">
        <input type="submit" value="Inscription">
    </form>
    {% if error_msg %}
        <p>{{error_msg}}</p>
    {% endif%}
</p>
{% endblock %}