{% extends 'header_layout.html' %}

{% block header %}

<head>
    Voici la problématique d'id :{{id_prob}}
</head>
<body>
    {% for i in spbs %}
        <p> {{i}}</p>
    {% endfor %}
    <p><br />Voici les propositions associés aux sous-problèmes actuelles :</p>

    {% if session.mail %}
        <ul>
        {% for j in props%}
            {% if j[0]==voted_prop %}
                <li><a class="prob-button-selected" href="/problematique/{{id_prob}}?id={{j[0]}}">Tu as  voté pour :{{j}}</a></li>
            {% else %}
                <li><a class="prob-button-not-selected" href="/problematique/{{id_prob}}?id={{j[0]}}">{{j}}</a></li>
            {% endif %}
        {%endfor%}
        </ul>
        <p><br />Cliquez ici pour ajouter une proposition:</p>
        <a href="/problematique/ajout_prop/{{id_prob}}/{{spbs[len_spbs-1][0]}}">Ajout proposition</a>
        </a>
    {%else %}
    <ul>
    {% for j in props%}
        <li><a class="prob-button-not-selected">{{j}}</a></li>
    {%endfor%}
    </ul>
    <p><br />Connecte-toi pour ajouter des propositions ou voter</p>
    {% endif %}
</body>

{% endblock %}