{% extends 'header_layout.html' %}
{%block css%}<link rel="stylesheet" href="../static/problematiques.css">{%endblock%}
{% block header %}

<body>
    <h1>Liste des problématiques</h1>
    {%for i in range(0,len)%} <!--Affiche toutes les problématiques posées-->
        <a href = '/problematique/{{liste_prob[i][0]}}' class='prob-button tooltip'>{{liste_prob[i][2]}}
            <span class="tooltiptext">{{liste_prob[i][3]}}</span>
        </a>
    {%endfor%}

    {% if showform %} <!--possibilité d'en rajouter si on est connecté et l'utilisateur a cliqué sur le "+" (qui rend showform vraie)-->
        {% if session.mail %}
        <a class="tronc" href="/problematiques?">+</a>
        <form class="form_new_pb" method ="POST">
            <input autocomplete="off" autofocus name="new_pb_title" placeholder="nom de la nouvelle problématique" type="text">
            <input autocomplete="off" name="new_pb_desc" placeholder="description de la problématique" type="text">
            <input autocomplete="off" name="first_question" placeholder="première question qu'on doit se poser" type="text">
            <input type="submit">
        </form>
        {% else %}
        <a class="tronc" href="/problematiques?showform=True">+</a>
        <p> Tu dois te connecter pour ajouter une Problématique</p>
        {% endif %}
    {% else %}
        <a class="tronc" href="/problematiques?showform=True">+</a>
    {% endif %}
</body>
{% endblock %}
