{% extends 'header_layout.html' %}

{% block header %}

<head>
    Voici la problématique d'id :{{id_prob}}
</head>
<body>
    {% for i in spbs %}
        <p> {{i}}</p>
    {% endfor %}
    <p><br />Voici les propositions associés aux sous-problèmes actuelles :</p>
    {% for j in props%}
    <a class="prob-button" href="/problematique/{{id_prob}}?id={{j[0]}}">{{j}}</a>
    {%endfor%}
    <p><br />Cliquez ici pour ajouter une proposition UwU :</p>
    <a href="/problematique/ajout_prop/{{id_prob}}/{{spbs[len_spbs-1][0]}}">Ajout proposition</a>
    </a>
</body>

{% endblock %}