{% extends 'header_layout.html' %}
{%block css%}<link rel="stylesheet" href="../static/QuestionSolution.css">{%endblock%}

{% block header %}

    <h1>{{prob[2]}}</h1>
    {% for i in range(0,len_question-1) %}
    <div class="tablo-question-solution">
        <a class="question-button" href="">{{questions[i][2]}}</a>
        <a class="solution-button" href="">{{choosen_solution[i][2]}}</a>
    </div>
    {% endfor %}

    <div class="tablo-question-solution">
        <a class="question-button-only" href="">{{last_question[2]}}</a>
    </div>
    <h2>{{message_vote}}</h2>

    {% if session.mail %}
    <div class="tablo-choix">
        {% for j in possible_solutions %}
            {% if j[0]==voted_solution %}
                <a class="choisi" href="/problematique/{{prob[0]}}?id={{j[0]}}">{{j[2]}}</a>
            {% else %}
                <a class="choix" href="/problematique/{{prob[0]}}?id={{j[0]}}">{{j[2]}}</a>
            {% endif %}
        {%endfor%}
        <a class="choix" href="/problematique/ajout_prop/{{prob[0]}}/{{last_question[0]}}">+</a>
    </div>
        <a href="/problematique/{{prob[0]}}?cloture=True"><br />Cloture des votes (expérimental)</a>

    {%else %}
    <div class="tablo-choix">
    {% for j in possible_solutions%}
        <a class="choix">{{j[2]}}</a>
    {%endfor%}
    </div>

    <h2>Connecte-toi pour ajouter des solutions, envoyer des messages ou voter</h2>
    {% endif %}

    {% for m in messages %}
        <p>{{m}}</p>
    {% endfor %}
    {% if session.mail %}
    <p class="envoie message">
        <form class="form_new_msg" method ="POST">
            <input autocomplete="off" autofocus name="message" placeholder="Message a envoyé" type="text">
            <input type="submit" value="Envoyer">
        </form>
    </p>
    {% endif %}
    

    <script>
        function show_hide(button_id,other_button_id)
        {
            var Btn = document.getElementById("-"+button_id);
            var OtherBtn = document.getElementById("-"+other_button_id);
            if(Btn.style.display === "grid")
                {
                    Btn.style.display = "none";
                }
            else
                {
                    if(OtherBtn.style.display === "grid")
                    {
                        OtherBtn.style.display = "none";
                        Btn.style.display = "grid";
                    }
                    else
                    {
                        Btn.style.display = "grid";
                    }
                    
                }
        }
    </script>

{% endblock %}