{% extends 'header_layout.html' %}
{%block css%}<link rel="stylesheet" href="../static/problematiques.css">{%endblock%}
{% block header %}

<body>
    <h1>Liste des problematiques</h1>
    {%for i in range(0,len)%}
        <a href = '/problematique/{{liste_prob[i][0]}}' class='prob-button'>{{liste_prob[i][2]}}</a>
    {%endfor%}

    {% if showform %}
        {% if session.mail %}
        <a class="prob-button" href="/problematiques?">+</a>
        <form class="form_new_pb" method ="POST">
            <input autocomplete="off" autofocus name="new_pb_title" placeholder="new_pb_title" type="text">
            <input autocomplete="off" autofocus name="new_pb_desc" placeholder="new_pb_desc" type="text">
            <input autocomplete="off" autofocus name="first_question" placeholder="first_question" type="text">
            <input type="submit">
        </form>
        {% else %}
        <a class="prob-button" href="/problematiques?showform=True">+</a>
        <p> Tu dois te connecter pour ajouter une Problématiques</p>
        {% endif %}
    {% else %}
        <a class="prob-button" href="/problematiques?showform=True">+</a>
    {% endif %}
</body>
{% endblock %}